{{ 'component-delivery.css' | asset_url | stylesheet_tag }}
<div class="delivery">
  <ul>
    <li>
      <span class="icon-d">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
          <g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M4785.4,4994.3c-707.7-109.9-1310.9-764-1501.2-1629.9c-26.8-128.7-59-276.1-67-332.4l-16.1-96.5l-380.7-10.7c-407.5-10.7-512-37.5-592.5-163.5c-50.9-75.1-1337.7-6769-1337.7-6948.7c0-83.1,21.4-176.9,56.3-243.9c61.7-120.6,241.3-294.9,343.2-332.4c91.1-34.8,7329.3-34.8,7420.5,0c99.2,37.5,281.5,211.8,335.1,319c26.8,53.6,56.3,142.1,64.3,201.1c24.1,147.5-1276.1,6916.5-1345.8,7013c-88.5,123.3-174.2,147.4-584.4,155.5l-380.7,8l-16.1,99.2c-8,53.6-40.2,203.7-67,332.4C6482.3,4420.6,5648.6,5125.6,4785.4,4994.3z M5225,4551.9c324.4-53.6,702.4-378,895.4-764c104.6-211.8,195.7-514.7,230.5-756l13.4-101.9H4999.8H3635.3l13.4,101.9c115.3,825.7,600.5,1445,1198.3,1533.4C4986.4,4586.8,5026.6,4584.1,5225,4551.9z M6651.2,367.2c80.4-67,144.8-134.1,144.8-147.5c0-40.2-2120.5-2520-2150-2511.9c-37.5,13.4-1469.1,1104.5-1466.4,1120.6c0,8,64.3,93.8,142.1,193L3461-799l589.8-455.7l587.1-455.7l53.6,67c182.3,222.5,1798.8,2133.9,1806.9,2133.9C6503.8,490.5,6573.5,434.2,6651.2,367.2z"/></g></g>
          </svg>
      </span>
      <strong>Ordered</strong>
      <span class="date">{{ "now" | date: "%b %d" }}</span>
    </li>
    <li>
      <span class="icon-d">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" id="Capa_1" width="800px" height="800px" viewBox="0 0 406.783 406.783" xml:space="preserve">
          <g>
            <g>
              <path d="M127.12,256.572c-19.742,0-35.741,15.993-35.741,35.737c0,19.745,15.999,35.738,35.741,35.738    c19.749,0,35.744-15.993,35.744-35.738C162.864,272.565,146.869,256.572,127.12,256.572z M127.12,307.846    c-8.582,0-15.536-6.955-15.536-15.537c0-8.586,6.954-15.537,15.536-15.537c8.583,0,15.542,6.951,15.542,15.537    C142.662,300.891,135.703,307.846,127.12,307.846z"/>
              <path d="M315.588,256.572c-19.742,0-35.74,15.993-35.74,35.737c0,19.745,15.998,35.738,35.74,35.738    c19.75,0,35.744-15.993,35.744-35.738C351.332,272.565,335.338,256.572,315.588,256.572z M315.588,307.846    c-8.582,0-15.535-6.955-15.535-15.537c0-8.586,6.953-15.537,15.535-15.537c8.584,0,15.543,6.951,15.543,15.537    C331.131,300.891,324.172,307.846,315.588,307.846z"/>
              <path d="M167.329,146.759c0,5.008-4.098,9.105-9.105,9.105H32.579c-5.008,0-9.104-4.097-9.104-9.105v-5.463    c0-5.007,4.097-9.104,9.104-9.104h125.645c5.008,0,9.105,4.097,9.105,9.104V146.759z"/>
              <path d="M385.623,200.066c-13.105-3.407-20.604-5.549-25.75-15.487l-17.207-34.839c-5.148-9.938-18.518-18.07-29.707-18.07    h-23.535c0,0-3.166,0.066-3.166-3.12c0-7.305,0-29.219,0-29.219c0-11.327-6.41-20.595-20.045-20.595H74.405    c-19.521,0-28.789,9.269-28.789,20.595v18.311c0,0,0,5.446,5.271,5.446c26.834,0,107.337,0,107.337,0    c10.041,0,18.21,8.168,18.21,18.209v5.463c0,10.041-8.169,18.209-18.21,18.209H50.887c0,0-5.271-0.438-5.271,5.252    c0,2.826,0,4.723,0,6.297c0,5.008,6.864,5.005,6.864,5.005h72.254c10.041,0,18.21,8.169,18.21,18.209v5.463    c0,10.041-8.169,18.209-18.21,18.209H53.62c0,0-8.004-0.148-8.004,6.225c0,11.062,0,44.246,0,44.246    c0,11.326,9.268,20.595,20.595,20.595c0,0,8.532,0,11.376,0c2.58,0,2.96-1.437,2.96-2.159c0-25.679,20.894-46.568,46.574-46.568    c25.682,0,46.575,20.891,46.575,46.568c0,0.725-0.206,2.159,1.767,2.159c22.55,0,91.806,0,91.806,0    c1.82,0,1.746-1.534,1.746-2.159c0-25.679,20.893-46.568,46.574-46.568s46.574,20.891,46.574,46.568    c0,0.725-0.018,2.159,1.121,2.159c10.34,0,23.146,0,23.146,0c11.195,0,20.352-9.157,20.352-20.351v-38.664    C406.783,202.894,396.502,202.894,385.623,200.066z M346.896,198.255c0,0-43.219,0-57.928,0c-2.393,0-2.711-2.33-2.711-2.33    V147.67c0,0-0.135-1.853,2.938-1.853c4.133,0,16.529,0,16.529,0c9.959,0,21.855,7.236,26.434,16.079l15.312,31    c0.645,1.248,1.334,2.356,2.072,3.349C350.086,196.973,349.174,198.255,346.896,198.255z"/>
              <path d="M133.838,205.195c0,5.008-4.097,9.105-9.104,9.105H9.104C4.096,214.3,0,210.203,0,205.195v-5.463    c0-5.007,4.097-9.104,9.104-9.104h115.63c5.008,0,9.104,4.097,9.104,9.104V205.195z"/>
            </g>
          </g>
          </svg>
      </span>
      <strong>Order Ready</strong>
      {% assign order_ready =  block.settings.order_ready | plus: 0 | times: 24 | times: 60 | times: 60 %}
      {% assign order_ready_or =  block.settings.order_ready | plus: 1 | times: 24 | times: 60 | times: 60 %}
      
      <span class="date">{{ 'now' | date: "%s"  | plus: order_ready | date: "%b %d" }} - {{ 'now' | date: "%s"  | plus: order_ready_or | date: "%b %d" }} </span>
    </li>
     <li>
      <span class="icon-d">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
        <g><g><path d="M500,10c-169.4,0-306.3,136.9-306.3,306.3S346.9,714.4,500,990c153.1-275.6,306.3-504.4,306.3-673.8S669.4,10,500,10z M500,438.8c-67.9,0-122.5-54.6-122.5-122.5S432.1,193.8,500,193.8s122.5,54.6,122.5,122.5S567.9,438.8,500,438.8z"/></g></g>
      </svg>
      </span>
      <strong>Delivered</strong>
       
      {% assign delivered =  block.settings.delivered | plus: 0 | times: 24 | times: 60 | times: 60 %}
      {% assign delivered_or =  block.settings.delivered | plus: 1 | times: 24 | times: 60 | times: 60 %}
      
      <span class="date">{{ 'now' | date: "%s"  | plus: delivered | date: "%b %d" }} - {{ 'now' | date: "%s"  | plus: delivered_or | date: "%b %d" }} </span>
    </li>
  </ul>
</div>

