{%-liquid

case section.settings.column 
 when 1 
    assign column = '1' 
 when 2 
     assign column = '2' 
 when 3 
    assign column = '3' 
 when 4
    assign column = '4' 
when 5 
    assign column = '5' 
endcase 
assign media_aspect_ratio = section.settings.image_ratio
assign image_shape = section.settings.image_shape
assign show_secondary_image = section.settings.show_secondary_image
assign show_vendor = section.settings.show_vendor
assign show_rating = section.settings.show_rating
assign show_quick_add = section.settings.enable_quick_add

assign collection = collections[section.settings.collection] 
assign carousel = carousel | default: section.settings.collection_layout 
assign arrows = arrows | default: section.settings.carousel-arrows 
assign dots = dots | default: section.settings.carousel-dots 
-%}


{{ 'component-product-tabs.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding main-section home-product-tabs  {% if carousel == 'grid' %}grid{% endif %}" data-section-type="collection-tabs" data-section-id="{{ section.id }}" >
    <div class="page-width">
        {% if section.settings.title != blank %}
           <div class="title text-center ">
                <h2 class="{{ section.settings.heading_size }} inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {% if settings.animations_reveal_on_scroll %} data-cascade {% endif %}>
                    {{ section.settings.title }}
                </h2>
            </div>  
        {% endif %}      
        {% if section.settings.description != blank %}
            <div class=" text-center rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {% if settings.animations_reveal_on_scroll %} {% endif %} >
                {{ section.settings.description }}
            </div>
        {% endif %}
        <div class="main-collection-tab tab-special">
            <ul class="nav nav-tabs" role="tablist" data-row="{{ section.settings.limit_product }}" data-ratio="{{media_aspect_ratio}}" data-shape="{{image_shape}}"  data-secondary-image="{{show_secondary_image}}" data-vendor="{{show_vendor}}" data-rating="{{show_rating}}" data-quick-add="{{show_quick_add}}" >
                {% for block in section.blocks %}
                    <li class="nav-item">
                        <a href="#" data-target="#product-tab-{{ block.id }}" data-product-tabTop data-href="/collections/{{ block.settings.collection }}?view=json" class="nav-link{% if forloop.first %} active{% endif %}">
                            <span>{{block.settings.title }}</span>
                        </a>
                    </li>
                {% endfor %}
               
            </ul>
            <div class="tab-content">
                {% for block in section.blocks %}
                <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="product-tab-{{ block.id }}" role="tabpanel">
                    <div class="main-row column-{{ column }} {% if carousel == 'carousel' %}column-product-carousel{% else %}layout_grid{% endif %}"
                        {% if carousel == 'carousel' %}
                            data-slick='{
                                "dots": {{ dots }},
                                "arrows": {{ arrows }},
                                "infinite": false,
                                "mobileFirst": true,
                                "adaptiveHeight": true,
                                "slidesToShow": {{ column }},
                                "slidesToScroll": {{ column }},
                                "prevArrow": "<div class=&apos;slick-prev slick-arrow slick-arrow--large&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                        "nextArrow": "<div class=&apos;slick-next slick-arrow slick-arrow--large&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>",
                                "responsive": [
                                    {
                                        "breakpoint": 1100,
                                        "settings": {
                                            "slidesToShow": {{ column }},
                                            "slidesToScroll": {{ column }},
                                            "dots": {{ dots }},
                                            "arrows": {{ arrows }}
                                        }
                                    },
                                    {
                                        "breakpoint": 992,
                                        "settings": {
                                            "slidesToScroll": 3,
                                            "slidesToShow": 3,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    },
                                    {
                                        "breakpoint": 551,
                                        "settings": {
                                            "slidesToScroll": 2,
                                            "slidesToShow": 2,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    },
                                    {
                                        "breakpoint": 300,
                                        "settings": {
                                            "slidesToScroll": 2,
                                            "slidesToShow": 2,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    }
                                ]
                            }'
                        {% endif %}>
                   
                    {% if forloop.first %}
                    {% for product in collections[block.settings.collection].products limit:5 %}
                            <div class="main-row__item no-load"> 
                                {% render 'before-load-grid-item', product: product %}
                            </div>
                    {% endfor%}
                    {% endif %}
                    </div>
                    
                </div>
                {% endfor %}
                
            </div>
        </div>
       
    </div>
</div>


{% schema %}
{
    "name": "Product Tab",
    "class": "section-product-tab-sections section",
    "tag": "section",
    "settings": [

        {
            "type": "header",
            "content": "Section Layout"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Spacing Top",
            "default": 60,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Spacing bottom",
            "default": 60,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Product List"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
         {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "collection_layout",
            "label": "Layout",
            "default": "carousel",
            "options": [
                {
                    "value": "grid",
                    "label": "Grid"
                },
                {
                    "value": "carousel",
                    "label": "Carousel"
                }
            ]
        },
        {
            "type": "range",
            "id": "column",
            "label": "Column",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 5
        },
        {
            "type": "range",
            "id": "limit_product",
            "label": "Limit Product",
            "min": 1,
            "max": 20,
            "step": 1,
            "default": 7
        },
        {
            "type": "checkbox",
            "id": "carousel-arrows",
            "label": "show arrows (Layout carousel)",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "carousel-dots",
            "label": "show dots (Layout carousel)",
            "default": false
        }, 
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                  "value": "adapt",
                  "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
                },
                {
                  "value": "portrait",
                  "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
                },
                {
                  "value": "square",
                  "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
                }
            ],
            "default": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
          "type": "select",
          "id": "image_shape",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.image_shape.options__1.label"
            },
            {
              "value": "arch",
              "label": "t:sections.all.image_shape.options__2.label"
            },
            {
              "value": "blob",
              "label": "t:sections.all.image_shape.options__3.label"
            },
            {
              "value": "chevronleft",
              "label": "t:sections.all.image_shape.options__4.label"
            },
            {
              "value": "chevronright",
              "label": "t:sections.all.image_shape.options__5.label"
            },
            {
              "value": "diamond",
              "label": "t:sections.all.image_shape.options__6.label"
            },
            {
              "value": "parallelogram",
              "label": "t:sections.all.image_shape.options__7.label"
            },
            {
              "value": "round",
              "label": "t:sections.all.image_shape.options__8.label"
            }
          ],
          "default": "default",
          "label": "t:sections.all.image_shape.label",
          "info": "t:sections.all.image_shape.info"
        },
        {
          "type": "checkbox",
          "id": "show_secondary_image",
          "default": false,
          "label": "t:sections.featured-collection.settings.show_secondary_image.label"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": false,
          "label": "t:sections.featured-collection.settings.show_vendor.label"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "default": false,
          "label": "t:sections.featured-collection.settings.show_rating.label",
          "info": "t:sections.featured-collection.settings.show_rating.info"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "default": false,
          "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
        }
    ],
    "blocks" : [
        {
            "type" : "ProductTabs",
            "name" : "Product Tabs",
            "settings":[
            {
                "type" : "text",
                "id" : "title",
                "label" : "Title Tabs",
                "default" : "Appliances"
            },
            {
                "type" : "collection",
                "id" : "collection",
                "label" : "Collection to use"
            }          
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Tab",
            "category": "Products"
        }
    ]
}
{% endschema %}